body{
    background: no-repeat fixed;
    height: 100vh;
    margin:0px;     /*  El navegador crea un margin por defecto de 8px, para borrarlo ponemos   margin:0px */
}
.doodle{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    z-index: -1;
}
html{
    background-attachment: fixed; 
}

body .padre{
    width: 100%;
    height:inherit;
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    font-family: 'Quicksand', sans-serif;

}

.hijo{
    background: rgba(86, 128, 245, 0.705);
    border-radius: 3px;
    width: 30vw;
    height: auto;
    box-shadow: 0 0 50px 0 rgba(87, 87, 87, 0.794);;
}

@media only screen and (max-width: 778px){

    .hijo{
         width:90%;
    }
   
}
.bottonS{
    display: flex;
    justify-content: space-between;
}

.button{
    border: 1px solid #7a7a7a;
    background: rgb(6, 207, 207);
    height: 3vh;
    cursor: pointer;
    min-height: 10px;
    width: 11vw;
    height: 4vh;
    /* padding: 2% 12%; */
    text-decoration: none;
    font-size: 1.1rem;
    border-radius: 6px;
    color:rgb(46, 46, 46);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-top: 1em;
    box-shadow: 2px 2px 4px rgb(2, 83, 83) ;
}
.button:hover{
    color: rgb(248, 248, 248);
    background-color:rgb(8, 146, 146);
    box-shadow: 0px 0px 0px;
    transition: 0.3s;
}


.resetBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5em;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    color: #ffffff;
    border-radius: 6px;
    border: 1px solid #7a7a7a;
    background:rgb(139, 139, 139);
    padding: 0.5em;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(56, 56, 56, 0.924) ;
}

.resetBtn:hover{
    color: #474747;
    background-color:rgb(179, 179, 179);
    box-shadow: 0px 0px 0px;
    transition: 0.3s;
}

form{
    margin: 10%;
    display:flex;
    flex-direction: column;
    align-items: left;
}

p{
    text-align: left;
    margin: 1em 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

#area{
    border: none;
    height: 15vh;
    width: 50vw;
    border-radius: 5px;
    font-size: 2em;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

@media only screen and (max-width: 1440px) {

    .hijo{
        width: 50vw;
    }
    .button{
        font-size: 1.2em;
        width: 19vw;
        height: 5vh;
     }

}


@media only screen and (max-width: 1024px) {
   
    .hijo{
        width: 70vw;
    }
    .button{
        font-size: 1.2em;
        width: 26vw;
        height: 5vh;
     }

}
@media only screen and (max-width: 768px) {
  
    .hijo{
        width: 70vw;
    }
    .button{
        font-size: 1.2em;
        width: 26vw;
        height: 5vh;
        color: white;
     }
     #area{
        font-size: 1.2em;
    }
    
}
@media only screen and (max-width: 450px) {

    .hijo{
        width: 75vw;
    }

    .button{
       font-size: 0.7em;
       width: 28vw;
       height: 5vh;
       font-weight: bolder;
       color: white;
    }

    p{
        font-size: 0.8rem;
    }

    .resetBtn{
        font-size: 0.8em;
    }

    #area{
        font-size: 0.9em;
    }
    
.hijo{
  margin: 1em auto ;
}
}


